@use 'mixins';
@use 'variables';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.router-container {
    flex-grow: 1;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

::ng-deep .router-flex + * {
    min-height: 100%;
    @include mixins.container;
}

.footer-navigation {
    // https://m2.material.io/components/bottom-navigation#specs
    // @todo support scaling with viewport width using font-size, keep in mind the room create
    //   button and overlap with content. Position can no longer be fixed.
    display: flex;
    height: auto;
    padding: 0;
    font-size: 16px;

    > * {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: auto;
        padding: 0.5em 0.75em 0.75em;
        border-radius: 0;
        font-size: 1em;

        .mat-icon {
            margin: 0;
            @include mixins.mat-icon-size(1.5em);
        }

        &.active {
            color: variables.$primary;
        }

        .label {
            display: block;
            font-size: 0.75em;
            font-weight: normal;
            line-height: 1;
        }
    }
}
