.logo {
    height: 70%;

    img {
        width: auto;
        height: 100%;
        padding: 4px;
    }
}

.github-link-icon-button {
    display: none;

    @media (max-width: 719px) {
        display: block;
    }
}

.github-link-text-button {

    @media (max-width: 719px) {
        display: none;
    }
}
