<mat-toolbar>
    <a mat-button routerLink="/" class="logo">
        <img src="/assets/logo.png" alt="Logo banner" width="340" height="150">
    </a>
    <span class="flex-spacer"></span>
    <a mat-button
       class="github-link"
       href="https://github.com/MatthiasKunnen/squad-timer"
       rel="noopener nofollow"
       aria-label="GitHub repository"
       title="View on GitHub">
        <img src="/assets/icons/github-circle-transparent.svg"
             class="github-logo"
             alt="GitHub logo"
             aria-hidden="true">
        <span class="github-label">GitHub</span>
    </a>
</mat-toolbar>
