@use 'mixins';
@use 'variables';

:host {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 56px;
    left: 0;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.router-container {
    flex-grow: 1;
    overflow: auto;
}

::ng-deep .router-flex + * {
    @include mixins.container;
}

.footer-navigation {
    // https://m2.material.io/components/bottom-navigation#specs
    // @todo support scaling with viewport width using font-size, keep in mind the room create
    //   button and overlap with content. Position can no longer be fixed.
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3.5em;
    padding: 0;
    font-size: 16px;

    > * {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: auto;
        padding: 0.5em 0.75em 0.75em;
        border-radius: 0;
        font-size: 1em;

        .mat-icon {
            margin: 0;
            @include mixins.mat-icon-size(1.5em);
        }

        &.active {
            color: variables.$primary;
        }

        label {
            display: block;
            font-size: 0.75em;
            font-weight: normal;
            line-height: 1;
        }
    }
}
