<div
    class="time-picker-input-container"
    role="group"
    [formGroup]="parts"
    [attr.aria-labelledby]="formField?.getLabelId()"
>
    <input formControlName="hours"
           class="time-picker-input-element"
           aria-label="Hours"
           (input)="_handleInput(parts.controls.hours, minutes)"
           (keyup.arrowRight)="autoFocusNextArrows(hours, minutes)"
           #hours
    />
    <span class="time-picker-input-spacer">:</span>
    <input formControlName="minutes"
           class="time-picker-input-element"
           aria-label="Hours"
           (input)="_handleInput(parts.controls.minutes)"
           (keyup.arrowLeft)="autoFocusPrevArrows(minutes, hours)"
           #minutes
    />
</div>
