@mixin container {
    display: block;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding: 16px;

    @media (max-width: 719px) {
        padding: 8px;
    }
}

@mixin mat-icon-size($size) {
    width: 1em;
    height: 1em;
    font-size: $size;
    line-height: 1;
}
