@import 'mixins';
@import 'variables';

.units {
    text-align: center;
}

.timers {

    .timer {
        display: grid;
        position: relative;
        align-items: center;
        margin: 8px 0;
        padding: 16px;
        grid-template-columns: 1fr 4fr 1fr;
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        background: mat-color($background, card);
        font-size: 2em;

        .unit-icon {
            justify-self: start;
        }

        .time-container {
            @include gap(2px);
            display: flex;
            align-items: center;
            justify-self: center;

            .time-action mat-icon {
                @include mat-icon-size(1.5em);
            }
        }

        .actions {
            justify-self: end;
        }
    }
}

.timers-info {
    margin-top: 1em;
}

button.no-padding {
    min-width: auto;
    padding: 1px 6px;

    @media (max-width: 359px) {
        padding: 1px 2px;
    }
}

svg-icon {
    display: block;
    width: 60px;
    height: 60px;
    padding: 4px;

    @media (max-width: 719px) {
        width: 56px;
        height: 56px;
    }
}
