<div class="units">
    <button class="no-padding"
            mat-button
            *ngFor="let unit of units"
            (click)="startTimer(unit, 'enemy')">
        <svg-icon [src]="'/assets/squad/' + unit.code + '.svg'"
                  [title]="unit.name"
                  [attr.aria-label]="unit.name"
                  svgClass="squad-icon enemy"></svg-icon>
    </button>
</div>
<div class="timers">
    <div class="timer mat-elevation-z1" *ngFor="let timer of timers; let i = index">
        <button class="unit-icon no-padding" mat-button (click)="changeSide(i)">
            <svg-icon [src]="'/assets/squad/' + timer.unit.code + '.svg'"
                      [title]="timer.unit.name"
                      [attr.aria-label]="timer.unit.name"
                      [svgClass]="['squad-icon', timer.side]"></svg-icon>
        </button>
        <div class="time-container">
            <button class="time-action" mat-icon-button (click)="addMinutesToTimer(i, -1)">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <app-countdown [date]="timer.spawnsOn"
                           [updateObservable]="updateObservable"></app-countdown>
            <button class="time-action" mat-icon-button (click)="addMinutesToTimer(i, 1)">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
        </div>
        <div class="actions">
            <button mat-icon-button (click)="removeTimer(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>
<p *ngIf="timers.length === 0" class="timers-info text-center">
    Click on a vehicle when it is destroyed and a timer will be started.
</p>
<div *ngIf="roomName !== null && roomUrl !== null">
    <button class="link"
            [cdkCopyToClipboard]="roomUrl"
            #roomUrlTooltip="matTooltip"
            (mouseenter)="$event.stopImmediatePropagation()"
            matTooltip="URL copied"
            (click)="copyRoomUrl(roomUrlTooltip)">
        {{roomName}}:
    </button>
    <span [class.text-error]="socketStatus === 'disconnected'"
          [class.text-success]="socketStatus === 'connected'">
        {{socketStatus}}
    </span>
    <button mat-icon-button
            aria-label="Disconnect"
            matTooltip="Disconnect"
            title="Disconnect"
            (click)="disconnect()">
        <mat-icon>power_off</mat-icon>
    </button>
</div>
<button mat-fab
        class="create-room create-room-desktop"
        matTooltip="Share your timers"
        aria-label="Share your timers"
        *ngIf="roomName === null"
        (click)="share()">
    <mat-icon *ngIf="socket === null">share</mat-icon>
    <mat-spinner *ngIf="socket !== null" [diameter]="24"></mat-spinner>
</button>
<button mat-mini-fab
        class="create-room create-room-mobile"
        matTooltip="Share your timers"
        aria-label="Share your timers"
        *ngIf="roomName === null"
        (click)="share()">
    <mat-icon *ngIf="socket === null">share</mat-icon>
    <mat-spinner *ngIf="socket !== null" [diameter]="16"></mat-spinner>
</button>
