@use '@angular/material' as mat;
@use 'mixins';
@use 'variables';

:host {
    display: flex;
    flex-direction: column;
}

.units {
    text-align: center;
}

.timers {

    .timer {
        display: grid;
        position: relative;
        align-items: center;
        margin: 8px 0;
        padding: 16px;
        grid-template-columns: 1fr 4fr 1fr;
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 4px;
        background: mat.get-color-from-palette(variables.$background, card);
        font-size: 2em;

        .unit-icon {
            justify-self: start;
        }

        .time-container {
            gap: 2px;
            display: flex;
            align-items: center;
            justify-self: center;
        }

        .actions {
            justify-self: end;
        }
    }
}

.timers-info {
    margin-top: 1em;
}

.share-panel {

    mat-expansion-panel-header {

        ::ng-deep .mat-content {
            // Align room status in the center
            display: grid;
            align-items: center;
            margin: 0;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 1em;

            > * {
                margin: 0;
            }
        }

        .share-panel-title-mobile {
            display: none;
        }

        .mat-expansion-panel-header-description {
            justify-self: center;
        }

        .expand {
            margin-right: 5px; // Align with right icon in the timer row
            // Transition copied from
            // https://github.com/angular/components/blob/cda36e9a7aa7c3/src/material/expansion/_expansion-variables.scss#L30
            transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
            font-size: 1.5em;
            justify-self: end;
        }

        &.mat-expanded .expand {
            transform: rotate(180deg);
        }

        @media (max-width: 599px) {
            ::ng-deep .mat-content {
                display: flex;
                justify-content: space-between;
            }

            .mat-expansion-panel-header-description,
            .share-panel-title-desktop {
                display: none;
            }

            .share-panel-title-mobile {
                display: block;
            }

        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
    }
}

button.no-padding {
    min-width: auto;
    padding: 1px 6px;

    @media (max-width: 359px) {
        padding: 1px 2px;
    }
}

svg-icon {
    display: block;
    width: 60px;
    height: 60px;
    padding: 4px;

    @media (max-width: 719px) {
        width: 56px;
        height: 56px;
    }
}
